*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background: #ffffff;
}
/*Header start*/

/*Navabar start*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}
header nav ul{
    display: flex;
    list-style-type: none;
    color: orange;
}
header nav a{
    text-decoration: none;
    color: yellow;
}
header nav ul li{
    padding:18px
}
header nav>a{
    font-size: 10px;
    padding: 18px;
    color: #ffc056;
    margin-right: auto;
}
header nav{
    background-color: #95aa9b;
}
header nav ul a{
    font-weight: bold;
}
header nav .title a h1{
    font-size: 35px;
    color: #fffeff;
}
/* banner styles*/
#banner{
    height: 450px;
    background: url(../images/img2.jpg);
    background-size: 100% 100%;
    padding: 0px 60px;
}
#banner .icon ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
#banner .icon ul{
    display: flex;
    list-style-type: none; 
}
#banner .icon ul li{
    margin-top: 150px;
    margin-bottom: 50px;
}
#banner .icon a{
    color: blue;
    font-size: 40px;
}
#banner .content h3{
    color: white;
    font-size: 25px;
    text-shadow: 2px 3px 10px black;
}
#banner .content h1{
    color: orange;
    font-size: 50px;
    text-shadow: 2px 3px 5px black;
}
#banner .content p{
    color: white;
    text-align: center;
}
#banner .content{
    text-align: center;
}
/*information start*/
#information{
    background: #ececec;
}
#information .row{
    display: flex;
    padding: 50px 100px;
}
#information .row .col{
    width: 70%;
}  
#information .row .col .card p{
  line-height: 25px;
} 
#information .row .col .card img{
    height: 350px;
    background-size:50px;
}   
#information .row .col .card{
    padding: 30px 50px;
}
/*services start*/

#services .title h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #000000;
}
#services .title p{
    text-align: center;
    color: #8889a8;
    line-height: 30px;
}

#services{
    background: #ffffff;
}
#services .row{
    display: flex;
    padding: 40px 50px;
    flex-wrap: wrap;
}
#services .row .col{
    width: 33.33%;
}
#services .row .col .card{
    background-color: white;
    padding: 40px 40px;
    margin: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
}
#services .row .col .card h1{
    color: #3b9974;
    text-align: center;
    padding-top: 30px;
}
#services .row .col .card p{
    color:#988895 ;
    line-height: 25px;
    text-align: center;
    padding-top: 30px;
}

/*images start*/

#images{
    background-color: #f6e9e9;
}
#images .row{
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;    
}
#images .row .col{
    width: 50%;   
}
#images img1{
    width: 50%;
}
#images img2{
 float: left;
   
}
#images img3{
    float: left;
      
   }
   #images img4{
    float: left;
      
   }
/*footer start*/
#bottom .row{
    display: flex;
    flex-wrap: wrap;
}
#bottom .row .col{
    width: 33.33%;
    text-align: center;
    padding: 70px 80px;
}
#bottom{
    background-color: #061220;
    margin-bottom: 30px;
}
#bottom .row .col .card h2{
    color: #3c9b73;
    padding: 30px 0px;
    font-size: 25px;
}
#bottom .row .col .card p{
    color: #c9c0b9;
    font-size: 15px;
    padding: 20px 0px;
}
#bottom .row .col .card address{
    color: #c9c0b9;
    font-size: 15px;
}
#bottom .row .col .card h6{
    color: #0fc88a;
    font-size: 15px;
    padding-bottom: 20px;
}
#bottom .row .col .card h5{
    color: #c80f1d;
}
#bottom .row .col .card input{
    font-size: 20px;
}

/*footer last*/
#bottom .down{
    background:black;
    color: white;
    width: 100%;
    height: 80px;
}
#bottom .down .center{
    text-align: center;
    padding: 30px 0px;
    color: #efc589;
    
}